<!-- <h1 style="text-align: center;"> File Upload</h1> -->
<mat-card>
  <mat-card-title style="text-align: center; font-weight: bold; font-size: x-large;">File Upload</mat-card-title>
  <mat-card-content class="example-card">
    <div style="text-align: center;">
      <form>
        <div>
          <input #singleInput type="file" name="image" (change)="selectImage($event)">
        </div>
        <br>
        <div>
          <button mat-raised-button type="submit" (click)="onSubmit()">Upload</button>
        </div>
        <ng-template [ngIf]="displaySingleImage" [ngIfElse]="elseSingleImageTemplate">
          <div>Image Uploaded</div>

        </ng-template>

        <ng-template #elseSingleImageTemplate>
          <br /><br />
          <div>Please Upload Some Images</div>
        </ng-template>

      </form>
    </div>
  </mat-card-content>
</mat-card>